.traffic-light{
    background-color: grey;
    width: 150px;
    margin: auto;
    z-index: 0;
    top: 50%;
    border-radius: 10px;
}

.red {
    color: red;
    scale: 3;
    padding: 1rem;
    right: 50%;

}

.yellow{
    color: yellow;
    scale: 3;
    padding: 1rem;
    right: 50%;

}

.green {
    color: green;
    scale: 3;
    padding: 1rem;
    right: 50%;
}

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
